@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont "Playfair", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body,
html {
  scroll-behavior: smooth;
  font-family: "Playfair Display";
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #000;
}
::-webkit-scrollbar-thumb {
  background: #777;
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.cardShadow {
  box-shadow: rgba(15, 15, 15, 0.2) 0px 64px 40px -40px;
}
@layer components {
  .btn {
    @apply bg-primary px-3 xl:px-6 py-3 hover:bg-white hover:text-black rounded-lg shadow-neutral-500 shadow-md text-white text-xl;
  }
  .centerd {
    @apply flex items-center justify-center;
  }
  .tabs {
    @apply centerd rounded-lg bg-[#fff] backdrop-blur-[1px] hover:bg-opacity-[.9] bg-opacity-[.5] w-[140px] h-[60px] md:h-[105px] md:w-[192px] text-2xl  font-extrabold  space-x-2 shadow-md shadow-gray-900;
  }
  .active {
    @apply border-b-8 rounded-xl border-white bg-opacity-[.9] bg-[#111] text-white;
  }
  .Box {
    @apply flex flex-col p-8 gap-y-2 bg-white rounded-3xl cardShadow;
  }
  .icons {
    @apply h-12 w-12 centerd border text-primary  border-gray-100  shadow-neutral-400  shadow-md rounded-xl  hover:bg-white hover:p-1;
  }
  .CardBtn {
    @apply bg-primary px-3 py-2 hover:bg-[#555] hover:shadow-lg hover:shadow-black rounded-md shadow-slate-500 shadow-lg text-white text-[14px];
  }
  .Span {
    @apply absolute -top-7 left-[50%] -translate-x-[50%] z-20 origin-left scale-0 rounded-lg border border-gray-300 bg-white px-3 py-2 text-sm font-medium shadow-md transition-all duration-300 ease-in-out group-hover:scale-100;
  }
  .ActiveLink {
    @apply bg-white;
  }
}
